@model Configuration

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var defaults = Model.GetDefaults();}

<div class="modal fade" id="clusterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Cluster</h4>
            </div>
            <div class="modal-body">

                <form action="" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="applicationName">Cluster Name: </label>
                                <input type="text" name="clusterName" id="clusterName" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <input class="btn btn-success" type="submit" name="submit" value="Add" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="defaultsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="defaultsModalClose" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Default Setting</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="applicationName">Setting Name: </label>
                            <input type="text" id="settingName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="applicationName">Setting Value: </label>
                            <input type="text" id="settingValue" class="form-control" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-success" onclick="addDefaultValue()">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <h2>@Model.ApplicationName</h2>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <h4>Clusters:</h4>
                </div>
                @foreach (var cluster in Model.GetAllClusters())
                {
                    <div class="col-lg-1 text-center">
                        <a href="~/Projects/@(Model.ProjectName)/@(Model.ApplicationName)/@(cluster.Key.Name)/Machines"><h4>@cluster.Key.Name</h4></a>
                    </div>
                }

                @if (defaults.Key.Access.HasAccess(Access.WriteAccess))
                {
                    <div class="form-group">
                        <a class="btn btn-success btn-circle" href="#" data-toggle="modal" data-target="#clusterModal"><i class="fa fa-plus"></i></a>
                    </div>
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <form action="@(Request.Url.AbsoluteUri)/Defaults" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <h2>Defaults:</h2>
                            </div>
                            @if (defaults.Key.Access.HasAccess(Access.WriteAccess))
                            {
                                <div class="form-group">
                                    <a class="btn btn-success btn-circle" href="#" data-toggle="modal" data-target="#defaultsModal"><i class="fa fa-plus"></i></a>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="defaults" class="row">

                        @foreach (var setting in defaults.Value)
                        {
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="@setting.Key">@setting.Key</label>
                                    <input type="text" id="@setting.Key" name="config[@setting.Key]" class="form-control" value="@setting.Value" @(defaults.Key.Access.HasAccess(Access.WriteAccess) ? string.Empty : "disabled") />
                                </div>
                            </div>
                        }
                    </div>
                    @if (defaults.Key.Access.HasAccess(Access.WriteAccess))
                    {
                        <hr />
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <input class="btn btn-success" type="submit" name="submit" value="Save" />
                                </div>
                            </div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function addDefaultValue() {
        var settingName = $('#settingName').val();
        var settingValue = $('#settingValue').val();

        if (settingName && settingValue) {
            var row1 = '<div class="col-lg-6">';
            var row2 = '<div class="form-group">';
            var row3 = '<label for="' + settingName + '">' + settingName + '</label>';
            var row4 = '<input type="text" id="' + settingName + '" name="config[' + settingName + ']" class="form-control" value="' + settingValue + '" @(defaults.Key.Access.HasAccess(Access.WriteAccess) ? string.Empty : "disabled") />';
            var row5 = '</div>';
            var row6 = '</div>';

            var html = row1 + row2 + row3 + row4 + row5 + row6;

            $('#defaults').append(html);
            $('#defaultsModalClose').click();
            $('#settingName').val('');
            $('#settingValue').val('');
        }
    }

</script>