@model Tuple<User, Dictionary<string, List<Elders.Pandora.Box.Jar>>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section vendorCss{
    <link rel="stylesheet" href="~/assets/vendor/jstree/themes/default/style.css" />
}


<div class="col-md-4 col-lg-3">

    <section class="panel">
        <div class="panel-body">
            <div class="thumb-info modal-block-md">
                <img src="@Model.Item1.AvatarUrl.Replace("sz=50", "sz=350")" class="rounded img-responsive" alt="@Model.Item1.FullName">
                <div class="thumb-info-title">
                    <span class="thumb-info-inner text-sm">@Model.Item1.FullName</span>
                    <span class="thumb-info-type">@Model.Item1.Organization</span>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="col-md-8 col-lg-9">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
            </div>
            <div class="panel-title">Access <a href="#" class="btn btn-default btn-sm pull-right" id="save-access-rules">Save</a></div>
        </header>
        <div class="panel-body">
            <div id="treeCheckbox">
                @foreach (var project in Model.Item2.Keys)
                {
                    <ul>
                        <li class="folder text-bold">
                            @project
                            <ul>
                                @foreach (var jar in @Model.Item2[project])
                                {
                                    <li data-jstree='{ "type" : "application" }'>
                                        @jar.Name
                                        <ul>
                                            <li data-jstree='{ "type" : "cluster" }'>
                                                Defaults
                                                <ul>
                                                    <li data-jstree='@(Model.Item1.Access.HasAccess(project, jar.Name, "Defaults", Access.ReadAcccess) ? "{ \"selected\" : true, \"type\" : \"read\" }" : "{ \"type\" : \"read\" }")'>
                                                        <span><input type="hidden" project="@project" application="@jar.Name" cluster="Defaults" access="@Access.ReadAcccess" />Read</span>
                                                    </li>
                                                    <li data-jstree='@(Model.Item1.Access.HasAccess(project, jar.Name, "Defaults", Access.WriteAccess) ? "{ \"selected\" : true, \"type\" : \"write\" }" : "{ \"type\" : \"write\" }")'>
                                                        <span><input type="hidden" project="@project" application="@jar.Name" cluster="Defaults" access="@Access.WriteAccess" />Write</span>
                                                    </li>
                                                </ul>
                                            </li>

                                            @foreach (var cluster in jar.Clusters)
                                            {
                                                <li data-jstree='{ "type" : "cluster" }'>
                                                    @cluster.Key
                                                    <ul>
                                                        <li data-jstree='@(Model.Item1.Access.HasAccess(project, jar.Name, cluster.Key, Access.ReadAcccess) ? "{ \"selected\" : true, \"type\" : \"read\" }" : "{ \"type\" : \"read\" }")'>
                                                            <span><input type="hidden" project="@project" application="@jar.Name" cluster="@cluster.Key" access="@Access.ReadAcccess" />Read</span>
                                                        </li>
                                                        <li data-jstree='@(Model.Item1.Access.HasAccess(project, jar.Name, cluster.Key, Access.WriteAccess) ? "{ \"selected\" : true, \"type\" : \"write\" }" : "{ \"type\" : \"write\" }")'>
                                                            <span><input type="hidden" project="@project" application="@jar.Name" cluster="@cluster.Key" access="@Access.WriteAccess" />Write</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </section>
</div>

@section vendorJs{
    <script src="~/assets/vendor/jstree/jstree.js"></script>
}

@section customJs{
    <script src="~/assets/javascripts/ui-elements/examples.treeview.js"></script>

    <script type="text/javascript" src="~/assets/javascripts/controllers/users/edit.js"></script>
}